.user-management-container {
  background-color: #fff;
  padding: 24px;
}
.user-management-action {
  margin-bottom: 18px;
}
.user-table {
  .ant-table-pagination-right {
    justify-content: center;
  }
}